# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@postgres:5432/postgres?schema=public&connect_timeout=300"

# Use BotFather (https://t.me/botfather) to create a BOT_TOKEN:
BOT_TOKEN=

# Use any S3-compatible hosting (like Digital Ocean Spaces or AWS S3) to obtain the following data:
S3_ENDPOINT=
S3_REGION=
S3_BUCKET=
S3_KEY=
S3_SECRET=

# Sentry is an error tracking service. You can sign up for a free account at https://sentry.io/signup/
SENTRY_DSN=
